@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-overlay: hsl(var(--nextui-foreground) / 0.1);
  --light-primarlay: hsl(var(--nextui-primary) / 0.2);
  --light-dangerlay: hsl(var(--nextui-danger) / 0.2);
}

tr > :nth-child(2) {
  flex-grow: 1;
}

code {
  padding: 2px 0.25rem;
  font-size: 0.9em;
  line-height: 1;
  background-color: #1d3153;
  border-radius: 0.375rem;
}
