@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-overlay: hsl(var(--nextui-foreground) / 0.1);
  --light-primarlay: hsl(var(--nextui-primary) / 0.2);
  --light-dangerlay: hsl(var(--nextui-danger) / 0.2);
}

tr > :nth-child(2) {
  flex-grow: 1;
}

@layer base {
  code {
    @apply px-1 py-0.5 text-sm leading-tight bg-[#1d3153] rounded-md;
  }
}
